@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color:Red">Welcome to my First page</h1>
    <p style="color:black">Thank you</a>.</p>
</div>
